USE [ScuolaDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDocenteByName]    Script Date: 25/05/2026 22:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_GetDocenteByName]
	@Nome NVARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		DocenteId,
		Nome + ' ' + Cognome AS 'Nome Completo',
		-- Rimosso il 103 e specificata la lunghezza per evitare troncamenti
		ISNULL(CONVERT(NVARCHAR(100), Email), 'N/E') AS Email,
		ISNULL(CONVERT(NVARCHAR(20), Specializzazione), 'N/E') AS Specializzazione
	FROM Docenti
	-- Usando LIKE e i percentuali cerchi anche per nome parziale (es. "Cri" trova "Cristian")
	WHERE Nome LIKE '%' + @Nome + '%'
END

